<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<header>
			<div class="row">
				<div class="logo">
					<img src="../static/LOG1.jpg">
					
			</div>

			<div class="loginbox">
		<img src="../static/avatar.png" class="avatar">
			<h1>Login Here</h1>
			<form action="home.html" method="post">
				<p>Username</p>
				<input type="text" name="" placeholder="Enter Username">
				<p>Password</p>
				<input type="password" name="" placeholder="Enter Password">
				<input type="submit" name="" value="Login">
				<a href="#">Lost your password?</a>
				<a href="#">Don't have an account?</a>
			</form>
	</div>
			</div>

		</header>
		
	</body>
</html>
